/* GENERAL */
html { 
    font-size: 62.5%; min-height: 100vh; font-family: 'Barlow-regular';
} 

body {
    min-height: 100vh; position: relative; font-size: 1.6rem;
}

svg {
    display: inline-block; width: 1em; height: 1em; stroke-width: 0; stroke: currentColor; fill: currentColor; -webkit-backface-visibility: hidden; backface-visibility: hidden; 
}

.shadow{
    box-shadow: 0rem 0rem 4rem 0rem rgb(155, 155, 155);
    height: 100vh;
    background: rgb(184, 222, 224);
}