
/*==================== BREACKPOINT ====================*/
/* 480px */
@mixin phone {
     @media screen and (max-width: 576px){
        @content;
    }
}
/* 767px */
@mixin phablet {
     @media screen and (max-width: 768px){
        @content;
    }
}
/* 991px */
@mixin tablet {
     @media screen and (max-width: 992px){
        @content;
    }
}
/* 1199px */
@mixin laptop {
     @media screen and (max-width: 1200px){
        @content;
    }
}

@mixin custom_gutter($custom_gutter : 30px) {
	.row {
		margin-left:  ceil(($custom_gutter / -2));
	    margin-right: floor(($custom_gutter / -2));
	}
	.container, .container-fluid, [class*="col-"] {
		padding-left:  ($custom_gutter / 2);
		padding-right: ($custom_gutter / 2);
	}
}

@mixin flex( $justify : space-between, $align : stretch, $direction : row, $wrap : nowrap) {
    display: flex; justify-content: $justify; align-items: $align; flex-flow: $direction $wrap; 
}